{% extends "base.html" %}

{% block title %}
Панель просмотра заявок
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css/appointments.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ title_h1 }}</h1>

    {% if access %}
    <button id="toggleFilters" class="toggle-filters-btn">Показать фильтры</button>

    <div id="filtersContainer" class="filters-container">
      <div class="filters">
        {% if title_h1 == "Панель администратора" %}
        <div class="filter-group">
          <label for="searchInput">Поиск:</label>
          <input type="text" id="searchInput" class="search-input" placeholder="Поиск по имени или услуге">
        </div>
        {% endif %}
        <div class="filter-group">
          <label for="dateFilter">Дата:</label>
          <input type="date" id="dateFilter">
        </div>
        <div class="filter-group">
          <label>Услуги:</label>
          <div class="service-checkboxes">
            {% for service in services %}
            <label class="service-checkbox">
              <input type="checkbox" name="service" value="{{ service.name }}">
              <span class="checkmark"></span>
              {{ service.name }}
            </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="appointment-list" id="appointmentList">
        {% for appointment in appointments %}
        <div class="appointment-card" data-id="{{ appointment.id }}">
            <h2>{{ appointment.name }}</h2>
            <p><strong>Дата:</strong> {{ appointment.date.strftime('%d.%m.%Y') }}</p>
            <p><strong>Время:</strong> {{ appointment.time.strftime('%H:%M') }}</p>
            <p class="services"><strong>Услуги:</strong> {{ appointment.services | map(attribute='name') | join(', ') }}</p>
            <p><strong>Цена:</strong> {{ appointment.total_price }}</p>
            {% if title_h1 == "Панель администратора" %}
            <button class="delete-button" data-id="{{ appointment.id }}">✕</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <p>Вы точно хотите удалить эту запись?</p>
            <div class="modal-buttons">
                <button id="confirmDelete" class="modal-button confirm-delete">Да, удалить</button>
                <button id="cancelDelete" class="modal-button cancel-delete">Отмена</button>
            </div>
        </div>
    </div>
{% else %}
<p>{{ message }}</p>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="/static/js/appointments.js"></script>
{% endblock %}