{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Запись на услуги</h1>
    <form id="appointment-form">

            <label for="name">Имя</label>
            <input type="text" id="name" name="name" value="{{ first_name }}" required placeholder="Введите ваше имя">

            <label>Услуги</label>
            <div class="services-container">
                {% for service in services %}
                <input type="checkbox" id="{{ service.id }}" name="services" value="{{ service.id }}" class="service-checkbox">
                <label for="{{ service.id }}" class="service-label">{{ service.name }}</label>
                {% endfor %}
            </div>

            <label for="date">Дата услуги</label>
            <input type="date" id="date" name="date" required>

            <label for="time">Время услуги</label>
            <select id="time" name="time" required>
                <option value="">Выберите время</option>
            </select>

        <input type="hidden" id="user_id" value="{{ user_id }}">
        <button type="submit" class="btn">Записаться</button>
    </form>
</div>

<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <h2>Спасибо за вашу запись!</h2>
        <p id="confirmationMessage"></p>
        <button id="closeModal">Закрыть</button>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/form.js"></script>
{% endblock %}