{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block content %}
<div class="main-container">
    <section class="hero-section">
      <img id="heroImage" src="/static/img/photo.jpeg" alt="Nail salon background">
      <div class="hero-overlay"></div>
      <div class="hero-content">
        <h1>{{ title }}</h1>
        <div class="subtitle">Искусство красивых ногтей</div>
      </div>
    </section>

    <section class="content-section">
      <div class="content-text">
        Добро пожаловать в наш современный nail-салон, где каждый маникюр – это произведение искусства. 
        Мы создадим для вас неповторимый дизайн, который подчеркнет вашу индивидуальность и стиль.
      </div>
      <a id="book-button" class="book-button">Записаться</a>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}
